<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--<add key="path" value="C:\Users\Christopher\Dropbox\Dat5\test.xml"/>-->
    <add key="path" value="C:\Users\cerberus20\Dropbox\Dat5"/>
    <add key="path2" value="C:\Users\Kim\Desktop\QueueXML\test.xml"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="amqmdnet, Version=8.0.0.0, Culture=neutral, PublicKeyToken=DD3CB1C9AAE9EC97"/>
        <add assembly="amqmdxcs, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7A58D55A51981A15"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>