<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key ="QueueManagerName" value="QMTEST"/>
    <add key ="QueueManagerIP" value=""/><!--leave blank if run on same machine as queuemanager-->
    <add key ="QueueManagerPort" value="1414"/>
    <add key="QueueManagerChannel" value=""/><!--leave blank if no channels are used-->
    <add key="path" value="C:\Users\Christopher\Dropbox\Dat5\test.xml"/><!--this is the location of the xml file with your queuenames-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="amqmdnet, Version=8.0.0.0, Culture=neutral, PublicKeyToken=DD3CB1C9AAE9EC97"/>
        <add assembly="amqmdxcs, Version=8.0.0.0, Culture=neutral, PublicKeyToken=7A58D55A51981A15"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>